body{
    font-family: verdana;
    display: flex;
    justify-content: center;
}

.customgame{
    border: 2px solid black;
    width: 100vh;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    border-radius: 30px;
    font-size: 25px;
    background-color: rgba(195, 112, 216, 0.7);
    border-color: #964699;
}

button, input,p{
    width: 453px;
    height: 35px;
    text-align: center;
    font-size: 25px;
}

button{
    color: white;
    font-style: bold;
    background-color: rgb(89, 213, 255);
    border-bottom: rgb(68, 166, 199);
    border-left: rgb(68, 166, 199);
    border-top: rgb(68, 166, 199);
    border-right: rgb(68, 166, 199);
    border-radius: 8px;
}

button:hover{
    background-color: rgb(50, 200, 250);
    font-size: 27px;
    border: 1px solid;
    border-color: rgb(30, 186, 238);
}

#result{
    color: white;
}

#remaining{
    color: rgb(232, 36, 88);
    font-weight: bold;
}
